[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
numpy = "*"
scipy = "*"
scikit-learn = "==0.23.2"
scikit-optimize = "*"
pandas = "*"
h5py = "*"
influxdb = "*"
python-dateutil = "*"
bottleneck = "*"
docopt = "*"
matplotlib = "*"
seaborn = "*"
openpyxl = "*"
pyshark = "*"
num2words = "*"
setuptools = "*"
statsmodels = "*"
jupyter = "*"
